
config MODULE_SOC_ENABLE
    bool "MODULE_SOC_ENABLE"

choice
    prompt "register addr"
    depends on MODULE_SOC_ENABLE
    config ADDR_310
        bool "ADDR_310"
    config ADDR_310B
        bool "ADDR_310B"
    config ADDR_710
        bool "ADDR_710"
    config ADDR_910
        bool "ADDR_910"
    config ADDR_910B
        bool "ADDR_910B"
endchoice

choice
    prompt "board id from"
    depends on MODULE_SOC_ENABLE
    config BOARD_ID_FROM_DEVINFO
        bool "BOARD_ID_FROM_DEVINFO"
    config BOARD_ID_FROM_DTS
        bool "BOARD_ID_FROM_DTS"
    config BOARD_ID_FROM_GPIO
        bool "BOARD_ID_FROM_GPIO"
    config BOARD_ID_STUB
        bool "BOARD_ID_STUB"
endchoice

choice
    prompt "board info(pcb, bom) from"
    depends on MODULE_SOC_ENABLE
    config BOARD_INFO_FROM_PCA6416
        bool "BOARD_INFO_FROM_PCA6416"
    config BOARD_INFO_NOT_SUPPORT_DEFAULT_5A
        bool "BOARD_INFO_NOT_SUPPORT_DEFAULT_5A"
    config BOARD_INFO_NOT_SUPPORT_DEFAULT_FF
        bool "BOARD_INFO_NOT_SUPPORT_DEFAULT_FF"
    config BOARD_INFO_NOT_SUPPORT_DEFAULT_01
        bool "BOARD_INFO_NOT_SUPPORT_DEFAULT_01"
endchoice

choice
    prompt "cpu info from"
    depends on MODULE_SOC_ENABLE
    config CPU_INFO_FROM_DEVINFO
        bool "CPU_INFO_FROM_DEVINFO"
    config CPU_INFO_FROM_PCIE
        bool "CPU_INFO_FROM_PCIE"
endchoice

choice
    prompt "slot id from"
    depends on MODULE_SOC_ENABLE
    config SLOT_ID_FROM_CMDLINE
        bool "SLOT_ID_FROM_CMDLINE"
    config SLOT_ID_FROM_DEVINFO
        bool "SLOT_ID_FROM_DEVINFO"
    config SLOT_ID_FROM_GPIO
        bool "SLOT_ID_FROM_GPIO"
    config SLOT_ID_STUB
        bool "SLOT_ID_STUB"
endchoice
