/dts-v1/;

/ {
	compatible = "hisilicon,hi1910B-evb", "hisilicon,ascend610";
	hisi,boardid = <0x0 0x5 0x0 0x1 0x5 0x0>;
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	interrupt-parent = <0x1>;
	model = "Hisilicon PhosphorHi1910B evb";

	/include/ "base/hi1910B-asic-kernel-rc.dtsi"
	/include/ "base/hi1910B-commmon-smmu.dtsi"
	/include/ "base/hi1910B-mpam.dtsi"
	/include/ "base/hi1910B-lp-pm.dtsi"
	/include/ "base/hi1910B-lp-devmng.dtsi"
	/include/ "base/hi1910B-mbigen-ao.dtsi"
	/include/ "base/hi1910B-gpio.dtsi"
	/include/ "base/hi1910B-ipcdrv.dtsi"
	/include/ "base/hi1910B-ts-drv.dtsi"
	/include/ "base/hi1910B-tsdrv.dtsi"
	/include/ "base/hi1910B-network-M150-B50.dtsi"
	/include/ "base/hi1910B-hidvpp.dtsi"
	/include/ "base/hi1910B-hdmi.dtsi"
	/include/ "product/hi1910B-audio.dtsi"
	/include/ "base/hi1910B-mipitx.dtsi"
	/include/ "base/hi1910B-vdp.dtsi"
	/include/ "base/hi1910B-isp.dtsi"
	/include/ "base/hi1910B-hilink.dtsi"
	/include/ "base/hi1910B-mntn-milanr3.dtsi"
	/include/ "base/hi1910B-gpu.dtsi"
	/include/ "base/hi1910B-ctl.dtsi"
	/include/ "base/hi1910B-itrustee.dtsi"
	/include/ "base/hi1910B-sata.dtsi"
	/include/ "product/hi1910B-pcie-rc-M150-B50.dtsi"
	/include/ "product/hi1910B-mdio-M150-B50.dtsi"
	/include/ "product/hi1910B-pinctrl-M150-B50.dtsi"
	/include/ "product/hi1910B-can-M150-B50.dtsi"
	/include/ "product/hi1910B-hiusbc-B50.dtsi"
	/include/ "product/hi1910B-emmc-M150-B50.dtsi"
        /include/ "product/hi1910B-i2c-M150-B50.dtsi"
        /include/ "product/hi1910B-spi-M150-B50.dtsi"
	/include/ "base/hi1910B-abl-qos.dtsi"

	chosen {
		bootargs = "console=ttyAMA0,115200 log_redirect=0x1fc000@0x22741000 root=/dev/mmcblk0p2 rw rdinit=/sbin/init rodata=off syslog earlycon=pl011,mmio32,0xC4010000 loglevel=5 initrd=0x2BA00000,300M rootwait mpam=of enable_ascend_share_pool ascend_enable_all enable_sp_multi_group_mode init_all_gicr enable_fpga no_console_suspend selinux=0 systemd.unified_cgroup_hierarchy=0 audit=1 audit_backlog_limit=8192 fbcon=map:6 movable_node";
	};
};

&eth0 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&mdc0_cfg_func &mdio0_cfg_func>;
	pinctrl-1 = <&mdc0_cfg_func &mdio0_cfg_func>;
};

&eth1 {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&mdc1_cfg_func &mdio1_cfg_func>;
	pinctrl-1 = <&mdc1_cfg_func &mdio1_cfg_func>;
};

&i2c5_ao {
	rtc@32 {
		compatible = "epson,rx8900";
		reg = <0x32>;
	};
};

&hdmi {
	TMDS_DRV_CFG_CH_2_0 = <0x40042805 0x00042805 0x00042805 0x40042905 0x00042905 0x00042905>;
	TMDS_DRV_CFG_CH_1_4 = <0x40021B02 0x00021B02 0x00021B02 0x40021B02 0x00021B02 0x00021B02>;
};

&i2c7_peri {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&scl7_cfg_func &sda7_cfg_func>;
	pinctrl-1 = <&scl7_cfg_func &sda7_cfg_func>;
};

&i2c8_peri {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&scl8_cfg_func &sda8_cfg_func>;
	pinctrl-1 = <&scl8_cfg_func &sda8_cfg_func>;

	eeprom_board:eeprom@50 {
		compatible = "eeprom,eeprom_m24256";
		reg = <0x50>;
	};
};

&i2c9_ao {
        eeprom_model:eeprom@50 {
                compatible = "eeprom,eeprom_m24256";
                reg = <0x50>;
        };
};

&{/soc} {
        refclk150M: refclk150M {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <150000000>;
            clock-output-names = "refclk";
        };

        uart2: uart@82230000 {
                compatible = "arm,pl011", "arm,primecell";
                reg = < 0x00 0x82230000 0x00 0x1000 >;
                interrupts = < 0x00 0xab 0x04 >;
                current-speed = < 0x1c200 >;
                arm,primecell-periphid = <0x00241011>;
                clocks = <&refclk150M>;
                clock-names = "apb_pclk";
                pinctrl-names = "default", "idle";
                pinctrl-0 = <&uart2_tx_pmx_func &uart2_rx_pmx_func &sfc_cs0n_cfg_func>;
                pinctrl-1 = <&uart2_tx_pmx_idle &uart2_rx_pmx_idle &sfc_cs0n_cfg_func>;
        };
        uart3: uart@82240000 {
                compatible = "arm,pl011", "arm,primecell";
                reg = < 0x00 0x82240000 0x00 0x1000 >;
                interrupts = < 0x00 0xac 0x04 >;
                current-speed = < 0x1c200 >;
                arm,primecell-periphid = <0x00241011>;
                clocks = <&refclk150M>;
                clock-names = "apb_pclk";
                pinctrl-names = "default", "idle";
                pinctrl-0 = <&uart3_tx_pmx_func &uart3_rx_pmx_func>;
                pinctrl-1 = <&uart3_tx_pmx_idle &uart3_rx_pmx_idle>;
        };

        uart6: uart@82250000 {
                compatible = "arm,pl011", "arm,primecell";
                reg = < 0x00 0x82250000 0x00 0x1000 >;
                interrupts = < 0x00 0xad 0x04 >;
                current-speed = < 0x1c200 >;
                arm,primecell-periphid = <0x00241011>;
                clocks = <&refclk150M>;
                clock-names = "apb_pclk";
                pinctrl-names = "default", "idle";
                pinctrl-0 = <&uart6_tx_pmx_func &uart6_rx_pmx_func &gps_int_pmx_func>;
                pinctrl-1 = <&uart6_tx_pmx_idle &uart6_rx_pmx_idle &gps_int_pmx_idle>;
        };
};

&sata {
	pinctrl-names = "default", "idle";
	pinctrl-0 = <&sata1_led_pmx_func &sata2_led_pmx_func>;
	pinctrl-1 = <&sata1_led_pmx_idle &sata2_led_pmx_idle>;
};

&gpio0 {
        4g_module_start {
		gpio-hog;
		gpios = <0x3 0x0>;
            	output-high;
            	line-name = "4g_module_start";
	};
};

&gpio7 {
        usb_hub_start {
                gpio-hog;
                gpios = <0x1 0x0>;
                output-high;
                line-name = "usb_hub_start";
        };

};
